.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header > div {
  display: flex;
  align-items: center;
}

.searchbar {
  background-color: #2b3237;
  width: 40%;
}

.search-input {
  background-color: inherit;
  border: none;
}
.search-input::placeholder {
  color: #8ba2ad;
}
.thread-icon {
  border-radius: 50%;
}
.thread-title {
  display: flex;
}
.banner {
  width: 100%;
}
.grid {
  display: grid;
}
.navigation {
  grid-template-columns: 20% 80%;
}
.body{
  grid-template-columns: 70% 30%;
}

.thread {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
