/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #3e4142 1px solid;
  padding: 0.5rem;
  z-index: 1;
  background-color: #121213;
  position: sticky;
}
.header > div {
  display: flex;
  align-items: center;
}
.header__searchbar {
  background-color: #2a3236;
}
.header__actions {
  justify-content: end;
}
.header-action__button, .header-logo__button{
  color: inherit;
}
.grid-cols-header {
  grid-template-columns: 10% 10% 50% 30%;
}
.header__search-input {
  background-color: #2a3236;
  border: none;
}
.header__search-input::placeholder {
  color: #8ba2ad;
}

.thread-action {
  padding: 10px;
}
.action-button__primary {
  background-color: transparent;
  color: white;
  border: white solid 1px;
  height: 100%;
  width: auto;
}


/* Main */
.container{
  z-index: 0;
}
.main-container{
  background-color: #121213;
}
.main-container__icon {
  border-radius: 50%;
}
.grid {
  display: grid;
}
.main-container__banner {
  width: 100%;
  margin-top: -.5rem;
  margin-bottom: -5px;
  z-index: -1;
}



/* Mobile */
@media only screen and (max-width: 600px) {
  .navigation-grid__side-navigation {
    display: none;
  }
  .thread-body__about-feed {
    display: none;
  }
  .desktop {
    display: none !important  ;
  }
}
@media only screen and (min-width: 600px) {
  .mobile {
  display: none !important;
  }
}